html {
    overflow-y: scroll;
    box-sizing: border-box;
    border-color: collapse;
    font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
}

body {
    margin: 0;
    padding: 1rem 2rem;
    background-color: #eee;
    color: #333;
    cursor: default;
}

h1 {
    letter-spacing: -0.05em;
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

#editor-container {
    margin-bottom: 0.5rem;
    display: inline-block;
    background: #fff;
    border: 2px solid #777;
}

#toolbar {
    display: flex;
    padding: 0;
    border-bottom: 2px solid #555;
    padding: 2px;
}

#toolbar button {
    text-align: center;
    vertical-align: middle;
    font-size: 1.1rem;
    padding: 0.3rem 0.6rem;
    width: 2rem;
    background: inherit;
    color: #000;
    border: 0;
    cursor: pointer;
}

#toolbar button:hover {
    background: #ddd;
}

#toolbar button .small {
    font-size: 0.8rem;
}

#toolbar .color-button {
    display: inline-block;
    width: 100%;
    height: 1rem;
    border-radius: 0.25rem;
    text-align: center;
    vertical-align: middle;
}

#toolbar .back-black {
    background-color: #000;
}

#toolbar .back-red {
    background-color: #ec5050;
}

#toolbar .back-green {
    background-color: #299921;
}

#toolbar .back-blue {
    background-color: #3d6ee9;
}

#toolbar .back-orange {
    background-color: #d3992e;
}

#toolbar .back-purple {
    background-color: #800080;
}

#toolbar .separator {
    width: 0px;
    margin-left: 2px;
    padding-right: 2px;
    border-left: 2px solid #ddd;
}

#editor, #toolbar button {
    font-family: 'PT Mono', 'Courier New', Courier, monospace;
}

#editor {
    background: #fff;
    overflow-y: scroll;
    font-size: 1rem;
    height: 20rem;
    padding: 1em;
    cursor: text;
    line-height: 1.25;
}

#editor:focus {
    outline: none;
}

#editor h1, #editor h2, #editor h3, #editor h4, #editor h5, #editor h6 {
    letter-spacing: inherit;
    font-size: 1.5rem;
    margin: 0.2em 0;
}

#editor h2 {
    font-size: 1.2rem;
}

#editor h3 {
    font-size: 1rem;
}

#editor h4 {
    font-size: 0.8rem;
}

#editor h5 {
    font-size: 0.6rem;
}

#editor h6 {
    font-size: 0.4rem;
}

#editor-container, #source {
    width: 100%;
    min-width: 40rem;
    max-width: 70rem;
}

#source-label {
    margin-top: 2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

#source {
    margin-top: 0.5rem;
    background-color: #f5f5f5;
    font-size: 1rem;
    max-width: 50rem;
    height: auto;
    border: 2px solid #bbb;
    border-radius: 0.5rem;
    padding: 1rem;
}