html {
    overflow-y: scroll;
    box-sizing: border-box;
    font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
}

body {
    margin: 0;
    padding: 1rem 2rem;
    background-color: #eee;
    color: #333;
    cursor: default;
}

h1 {
    letter-spacing: -0.05em;
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

#toolbar {
    margin-bottom: 0.5rem;
}

#toolbar button {
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
    width: 2rem;
    background: #ccc;
    color: #000;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}

#toolbar button:hover {
    background: #999;
}

#toolbar .separator {
    width: 1px;
    height: 1rem;
    margin: 0 0.75rem;
}

#editor {
    font-family: 'PT Mono', 'Courier New', Courier, monospace;
    background: #fff;
    overflow-y: scroll;
    font-size: 1rem;
    width: 50rem;
    height: 20rem;
    border: 2px solid #777;
    padding: 1em;
    cursor: text;
}

#source-label {
    margin-top: 2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

#source {
    margin-top: 0.5rem;
    background-color: #f5f5f5;
    font-size: 1rem;
    width: 50rem;
    height: auto;
    border: 2px solid #bbb;
    border-radius: 0.5rem;
    padding: 1rem;
}